@page
@model ArticleEditModel

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/lib/Kindeditor/themes/default/default.css" />
<link rel="stylesheet" href="~/lib/Kindeditor/plugins/code/prettify.css" />
<script charset="utf-8" src="~/lib/Kindeditor/kindeditor-all.js"></script>
<script charset="utf-8" src="~/lib/Kindeditor/lang/zh-CN.js"></script>
<script charset="utf-8" src="~/lib/Kindeditor/plugins/code/prettify.js"></script>

<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Article.ID" />
            <div class="form-group">
                <label asp-for="Article.Tittle" class="control-label"></label>
                <input asp-for="Article.Tittle" class="form-control" />
                <span asp-validation-for="Article.Tittle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.Content" class="control-label"></label>
                <textarea asp-for="Article.Content" class="form-control" style="width:100%;height:450px;" id="MyEidtor">@Html.Raw(Model.Article.Content)</textarea>

            </div>
            <div class="form-group">
                <input type="submit" value="保存修改" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
     KindEditor.ready(function (K) {
        window.editor = K.create('#MyEidtor', {
            fileManagerJson: '@Url.Action("KindFileManager", "Editor")',
            allowFileManager: true,
            autoHeightMode : true,

        });
     });
</script>